<div class="box-body">
  <form role="form">
    <div class="form-group">
      <label>Sell Price</label>
      <%= text_field :estimate, :sell_price, class: 'form-control', value: @estimate_form.estimate.sell_price %>
    </div>
    <div class="box-body no-padding">
      <table class="table table-condensed">
        <tr>
          <th style="width: 40px">#</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Volume</th>
        </tr>
        <tr>
          <td>
            <%= image_tag("https://image.eveonline.com/Type/#{@estimate_form.estimate.product_type_id}_32.png",
                          :alt => "Type Image") %>
          </td>
          <td>
            <%= InvType.get_type_name(@estimate_form.estimate.product_type_id) %>
          </td>
          <td>
            <%= @estimate_form.estimate.sell_count %>
          </td>
          <td>
            <%= @estimate_form.estimate.total_volume %>
          </td>
        </tr>
      </table>
    </div>
    <br/>

    <div class="box-body no-padding">
      <table class="table table-condensed">
        <tr>
          <th style="width: 20%">Result</th>
          <th style="width: 30%"></th>
          <th style="width: 30%"></th>
          <th style="width: 20%"></th>
        </tr>
        <tr>
          <td>
            Sell Price Total
          </td>
          <td></td>
          <td>
            <%= number_to_currency(@estimate_form.estimate.sell_total_price,
                                   :precision => 2,
                                   :unit => "isk",
                                   :separator => ".",
                                   :format => "%n %u") %>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
            Costs
          </td>
          <td></td>
          <td>
            <%= number_to_currency(@estimate_form.estimate.total_cost,
                                   :precision => 2,
                                   :unit => "isk",
                                   :separator => ".",
                                   :format => "%n %u") %>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            Job Install Cost
          </td>
          <td>
          </td>
          <td>
            <%= number_to_currency(@estimate_form.estimate_job_cost.total_job_cost,
                                   :precision => 2,
                                   :unit => "isk",
                                   :separator => ".",
                                   :format => "%n %u") %>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            Material Total Cost
          </td>
          <td>
          </td>
          <td>
            <%= number_to_currency(@estimate_form.estimate.material_total_cost,
                                   :precision => 2,
                                   :unit => "isk",
                                   :separator => ".",
                                   :format => "%n %u") %>
          </td>
        </tr>
        <tr>
          <td>
            Profit
          </td>
          <td></td>
          <td>
            <%= number_to_currency(@estimate_form.estimate.profit,
                                   :precision => 2,
                                   :unit => "isk",
                                   :separator => ".",
                                   :format => "%n %u") %>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
            Production Time
          </td>
          <td></td>
          <td>
            <%= second_to_time(@estimate_form.estimate.production_time) %>
          </td>
          <td></td>
        </tr>
      </table>
    </div>
  </form>
</div>
<script>
    $('#estimate_sell_price').change(function () {
        set_result();
    });
</script>