<div class="box-body">
  <form role="form">
    <div class="form-group">
      <label>Select</label>
      <%= select_tag :region_id, options_for_select(@region_list,@region_id), :prompt => "All Region", class: 'form-control' %>
    </div>
    <div class="form-group">
      <label>Select</label>
      <%= select_tag :solar_system_id, options_for_select(@solar_system_list,@solar_system_id), :prompt => "All Solar System", class: 'form-control' %>
    </div>
    <div class="form-group">
      <label>System Cost Index</label> :
      <%= @estimate_form.estimate_job_cost.system_cost_index %>
      <div class="progress sm progress-striped active">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
             aria-valuemin="0" aria-valuemax="100" style="width: <%= @estimate_form.estimate_job_cost.system_cost_index * 100%>%">
          <span class="sr-only">20% Complete</span>
        </div>
      </div>
    </div>
    <div class="box-body no-padding">
      <table class="table table-condensed">
        <tr>
          <th>Base Job Cost</th>
          <th>Job Fee</th>
          <th>Facility Cost</th>
          <th>Job Install Cost</th>
        </tr>
        <tr>
          <td>
            <%= number_to_currency(@estimate_form.estimate_job_cost.base_job_cost,
                                   :precision => 2,
                                   :unit => "isk",
                                   :separator => ".",
                                   :format => "%n %u") %>
          </td>
          <td>
            <%= number_to_currency(@estimate_form.estimate_job_cost.job_fee,
                                   :precision => 2,
                                   :unit => "isk",
                                   :separator => ".",
                                   :format => "%n %u") %>
          </td>
          <td>
            <%= number_to_currency(@estimate_form.estimate_job_cost.facility_cost,
                                   :precision => 2,
                                   :unit => "isk",
                                   :separator => ".",
                                   :format => "%n %u") %>
          </td>
          <td>
            <%= number_to_currency(@estimate_form.estimate_job_cost.total_job_cost,
                                   :precision => 2,
                                   :unit => "isk",
                                   :separator => ".",
                                   :format => "%n %u") %>
          </td>
        </tr>
      </table>
    </div>
  </form>
</div>

<script>
    $('#region_id').change(function () {
        set_location("region");
    });
    $('#solar_system_id').change(function () {
        set_location("solar_system");
    });
</script>