<!-- /.box-header -->
<div class="box-body no-padding">
  <table class="table table-condensed">
    <tr>
      <th style="width: 40px">#</th>
      <th>Material</th>
      <th>Require</th>
      <th>Jita Average</th>
      <th>Universe Average</th>
      <th>Price</th>
      <th>Price total</th>
    </tr>
    <% @material_list.each_with_index do |material, i| %>
        <tr>
          <td><%= image_tag("https://image.eveonline.com/Type/#{material.type_id}_32.png",
                            :alt => "Type Image") %>
          </td>
          <td>
            <%= InvType.get_type_name(material.type_id) %>
          </td>
          <td>
            <%= material.require_count %>
          </td>
          <td>
            <%= number_to_currency(material.jita_average_price,
                                   :precision => 2,
                                   :unit => "isk",
                                   :separator => ",",
                                   :format => "%n %u") %>
          </td>
          <td>
            <%= number_to_currency(material.universe_average_price,
                                   :precision => 2,
                                   :unit => "isk",
                                   :separator => ",",
                                   :format => "%n %u") %>
          </td>
          <td>
            <%= text_field("price", i, :value => material.price, class: 'form-control', size: 10) %>
          </td>
          <td>
            <%= number_to_currency(material.total_price,
                                   :precision => 2,
                                   :unit => "isk",
                                   :separator => ",",
                                   :format => "%n %u") %>
          </td>
        </tr>
    <% end %>
  </table>
</div>
<!-- /.box-body -->

<script>
    $("input[id*='price_").change(function () {
        set_material(<%= @material_list.count() %>);
    });
</script>
