<section class="content-header">
  <h1>Estimate Product</h1>
</section>

<section class="content">
  <%= form_for @estimate_form, url: estimates_path, method: :post do |f| %>
      <% if @estimate_form.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@estimate_form.errors.count, "error") %> prohibited this estimate from being saved:</h2>

            <ul>
              <% @estimate_form.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class='col-md-12'>
        <!-- Blueprint Start-->
        <div class='col-md-6'>
          <div class="box box-warning">
            <div class="box-header">
              <h3 class="box-title">Blueprint</h3>
            </div>
            <div class="box-body">
              <form role="form">
                <%= image_tag("https://image.eveonline.com/Type/#{@estimate_form.blueprint_type_id}_32.png",
                              :alt => "Type Image") %>
                <%= InvType.get_type_name(@estimate_form.blueprint_type_id) %>
                <br/>
                <br/>
                <div class="form-group">
                  <label>Select Blueprint</label>
                  <select class="form-control">
                    <option>Anti Matter ME:5 TE:5</option>
                    <option>Anti Matter ME:5 TE:10</option>
                  </select>
                </div>
                  <div class='col-md-6'>
                    <div class="form-group">
                      <%= f.label :blueprint_me, "ME" %>
                      <br>
                      <%= f.number_field :blueprint_me, class: 'form-control' %>
                    </div>
                  </div>
                  <div class='col-md-6'>
                    <div class="form-group">
                      <%= f.label :blueprint_te, "TE" %>
                      <br>
                      <%= f.number_field :blueprint_te, class: 'form-control' %>
                    </div>
                  </div>
                <div class="form-group">
                  <%= f.label :runs %>
                  <br>
                  <%= f.number_field :runs, class: 'form-control', :value => 1 %>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Blueprint End-->
        <!-- Skill Start-->
        <div class='col-md-6'>
          <div class="box box-warning">
            <div class="box-header">
              <h3 class="box-title">Location</h3>
            </div>
            <div id="location">
              <%= render :partial => 'location' %>
            </div>
          </div>
        </div>
        <!-- Skill End-->
      </div>

      <div class='col-md-12'>
        <!-- Material Start-->
        <div class='col-md-12'>
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Material</h3>
            </div>
            <div id="material">
              <%= render :partial => 'material' %>
            </div>
          </div>
          <!-- /.box -->
        </div>
        <!-- Material End-->
      </div>
      <div class='col-md-12'>
        <!-- Estimate Result Start-->
        <div class='col-md-12'>
          <div class="box box-warning">
            <div class="box-header">
              <h3 class="box-title">Estimate Result</h3>
            </div>
            <div class="row">
              <div class='col-md-6'>
                <div id="estimate_result">
                  <%= render :partial => 'estimate_result' %>
                </div>
              </div>
              <div class='col-md-6'>
                <div id="sell_order">
                  <%= render :partial => 'sell_order' %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Product End-->
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
  <% end %>
  <%= link_to 'Back', :back %>
</section>

<script>
    $('#estimate_form_blueprint_me').change(function () {
        set_material(<%=@material_list.count()%>);
    });
    $('#estimate_form_runs').change(function () {
        set_material(<%=@material_list.count()%>);
    });
</script>