<section class="content-header">
  <h1>Estimate Product</h1>
</section>

<section class="content">
<!-- Blueprint Start-->
<div class='col-md-6'>
  <div class="box box-warning">
    <div class="box-header">
      <h3 class="box-title">Blueprint</h3>
    </div>
    <div class="box-body">
      <form role="form">
        <%= image_tag("https://image.eveonline.com/Type/#{@estimate_form.estimate_blueprint.type_id}_32.png",
                      :alt => "Type Image") %>
        <%= InvType.get_type_name(@estimate_form.estimate_blueprint.type_id) %>
        <br/>
        <br/>

        <div class='col-md-6'>
          <label>ME</label> : <%= @estimate_form.estimate_blueprint.me %>
        </div>
        <div class='col-md-6'>
          <div class="form-group">
            <label>TE</label> :<%= @estimate_form.estimate_blueprint.te %>
          </div>
        </div>
        <div class="form-group">
          <label>Runs</label> :<%= @estimate_form.estimate_blueprint.runs %>
        </div>
      </form>
      <br/>
      <br/>
      <br/>
      <br/>
    </div>
  </div>
</div>
<!-- Blueprint End-->

<!-- Location Start-->
<div class='col-md-6'>
  <div class="box box-warning">
    <div class="box-header">
      <h3 class="box-title">Location</h3>
    </div>
    <div id="location">
      <div class="box-body">
        <form role="form">
          <div class="form-group">
            <label>Region</label> :
            <%= @estimate_form.estimate_job_cost.region_id %></p>
          </div>
          <div class="form-group">
            <label>Solar System</label> :
            <%= @estimate_form.estimate_job_cost.region_id %>
          </div>
          <div class="form-group">
            <label>System Cost Index</label> :
            <%= @estimate_form.estimate_job_cost.system_cost_index %>
            <div class="progress sm progress-striped active">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
                   aria-valuemin="0" aria-valuemax="100" style="width: <%= @estimate_form.estimate_job_cost.system_cost_index * 100%>%">
                <span class="sr-only">20% Complete</span>
              </div>
            </div>
          </div>
          <div class="box-body no-padding">
            <table class="table table-condensed">
              <tr>
                <th>Base Job Cost</th>
                <th>Job Fee</th>
                <th>Facility Cost</th>
                <th>Job Install Cost</th>
              </tr>
              <tr>
                <td>
                  <%= number_to_currency(@estimate_form.estimate_job_cost.base_job_cost,
                                         :precision => 2,
                                         :unit => "isk",
                                         :separator => ",",
                                         :format => "%n %u") %>
                </td>
                <td>
                  <%= number_to_currency(@estimate_form.estimate_job_cost.job_fee,
                                         :precision => 2,
                                         :unit => "isk",
                                         :separator => ",",
                                         :format => "%n %u") %>
                </td>
                <td>
                  <%= number_to_currency(@estimate_form.estimate_job_cost.facility_cost,
                                         :precision => 2,
                                         :unit => "isk",
                                         :separator => ",",
                                         :format => "%n %u") %>
                </td>
                <td>
                  <%= number_to_currency(@estimate_form.estimate_job_cost.total_job_cost,
                                         :precision => 2,
                                         :unit => "isk",
                                         :separator => ",",
                                         :format => "%n %u") %>
                </td>
              </tr>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Location End-->

<!-- Material Start-->
<div class='col-md-12'>
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Material</h3>
    </div>
    <div id="material">
      <!-- /.box-header -->
      <div class="box-body no-padding">
        <table class="table table-condensed">
          <tr>
            <th style="width: 40px">#</th>
            <th>Material</th>
            <th>Require</th>
            <th>Jita Average</th>
            <th>Universe Average</th>
            <th>Volume</th>
            <th>Price</th>
            <th>Price total</th>
          </tr>
          <% @estimate.estimate_materials.each_with_index do |material, i| %>
              <tr>
                <td><%= image_tag("https://image.eveonline.com/Type/#{material.type_id}_32.png",
                                  :alt => "Type Image") %>
                </td>
                <td>
                  <%= InvType.get_type_name(material.type_id) %>
                </td>
                <td>
                  <%= material.require_count %>
                </td>
                <td>
                  <%= number_to_currency(material.jita_average_price,
                                         :precision => 2,
                                         :unit => "isk",
                                         :separator => ",",
                                         :format => "%n %u") %>
                </td>
                <td>
                  <%= number_to_currency(material.universe_average_price,
                                         :precision => 2,
                                         :unit => "isk",
                                         :separator => ",",
                                         :format => "%n %u") %>
                </td>
                <td>
                  <%= number_to_currency(material.total_volume,
                                         :precision => 2,
                                         :unit => "㎥",
                                         :separator => ",",
                                         :format => "%n %u") %>
                </td>
                <td>

                  <%= number_to_currency(material.price,
                                         :precision => 2,
                                         :unit => "㎥",
                                         :separator => ",",
                                         :format => "%n %u") %>
                </td>
                <td>
                  <%= number_to_currency(material.total_price,
                                         :precision => 2,
                                         :unit => "isk",
                                         :separator => ",",
                                         :format => "%n %u") %>
                </td>
              </tr>
          <% end %>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
  <!-- /.box -->
</div>
<!-- Material End-->
<!-- Estimate Result Start-->
<div class='col-md-6'>
  <div class="box box-warning">
    <div class="box-header">
      <h3 class="box-title">Estimate Result</h3>
    </div>
    <div class="row">
      <div class='col-md-12'>
        <div id="estimate_result">
          <div class="box-body">
            <form role="form">
              <div class="form-group">
                <label>Sell Price</label> :
                <%= @estimate_form.estimate.sell_price %>
              </div>
              <div class="box-body no-padding">
                <table class="table table-condensed">
                  <tr>
                    <th style="width: 40px">#</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Volume</th>
                  </tr>
                  <tr>
                    <td>
                      <%= image_tag("https://image.eveonline.com/Type/#{@estimate_form.estimate.product_type_id}_32.png",
                                    :alt => "Type Image") %>
                    </td>
                    <td>
                      <%= InvType.get_type_name(@estimate_form.estimate.product_type_id) %>
                    </td>
                    <td>
                      <%= @estimate_form.estimate.sell_count %>
                    </td>
                    <td>
                      <%= @estimate_form.estimate.total_volume %>
                    </td>
                  </tr>
                </table>
              </div>
              <br/>

              <div class="box-body no-padding">
                <table class="table table-condensed">
                  <tr>
                    <th style="width: 20%">Result</th>
                    <th style="width: 30%"></th>
                    <th style="width: 30%"></th>
                    <th style="width: 20%"></th>
                  </tr>
                  <tr>
                    <td>
                      Sell Price Total
                    </td>
                    <td></td>
                    <td>
                      <%= number_to_currency(@estimate_form.estimate.sell_total_price,
                                             :precision => 2,
                                             :unit => "isk",
                                             :separator => ",",
                                             :format => "%n %u") %>
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>
                      Costs
                    </td>
                    <td></td>
                    <td>
                      <%= number_to_currency(@estimate_form.estimate.total_cost,
                                             :precision => 2,
                                             :unit => "isk",
                                             :separator => ",",
                                             :format => "%n %u") %>
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>
                    </td>
                    <td>
                      Job Install Cost
                    </td>
                    <td>
                    </td>
                    <td>
                      <%= number_to_currency(@estimate_form.estimate_job_cost.total_job_cost,
                                             :precision => 2,
                                             :unit => "isk",
                                             :separator => ",",
                                             :format => "%n %u") %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                    </td>
                    <td>
                      Material Total Cost
                    </td>
                    <td>
                    </td>
                    <td>
                      <%= number_to_currency(@estimate_form.estimate.material_total_cost,
                                             :precision => 2,
                                             :unit => "isk",
                                             :separator => ",",
                                             :format => "%n %u") %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Profit
                    </td>
                    <td></td>
                    <td>
                      <%= number_to_currency(@estimate_form.estimate.profit,
                                             :precision => 2,
                                             :unit => "isk",
                                             :separator => ",",
                                             :format => "%n %u") %>
                    </td>
                    <td></td>
                  </tr>
                </table>
              </div>

            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- Product End-->

</section>

<%= link_to 'Edit', edit_estimate_path(@estimate) %> |
<%= link_to 'Back', estimates_path %>
