<div class="row">
  <div class="box">
    <div class="box-body">
      <% if @type_id.present? %>
          <div class="row">
            <div class="col-md-1">
              <%= image_tag("https://image.eveonline.com/Type/#{@type_id}_64.png",
                            :alt => "Type Image") %>
            </div>
            <div class="col-md-4">
              Item : <%= InvType.get_type_name(@type_id) %>
              <br/>
              Universe Average Price : <%= MarketPrice.find_by_type_id(@type_id).average_price %>
            </div>
            <div class="col-md-5">
                <input type="hidden" id="hidden_type_id" value="<%=@type_id%>"/>
            </div>
            <div class="col-md-2">
              <a id="refresh" class="btn btn-app" onclick="refresh_market();">
                <i class="fa fa-repeat">
                </i>
                Refresh
              </a>
            </div>
          </div>
      <% else %>
          Select Item
      <% end %>
    </div>
  </div>
  <div class="box">
    <div class="box-body">
      <table id="lists" class="table table-bordered table-striped" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th>Count</th>
          <th>price (isk)</th>
          <th>location</th>
          <th>expire at (day)</th>
        </tr>
        </thead>

        <tbody>
        <% if @markets.present? %>
            <% @markets.market_details.each do |market| %>
                <tr>
                  <td><%= market.volume %></td>
                  <td><%= number_to_currency(market.price,
                                             :precision => 2,
                                             :unit => "",
                                             :separator => ".",
                                             :format => "%n %u") %>
                  </td>
                  <td><%= market.get_station_name %></td>
                  <td><%= number_to_currency(market.get_expired_at,
                                             :precision => 2,
                                             :unit => "",
                                             :separator => ".",
                                             :format => "%n %u") %></td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>
