<section class="content">
  <h1>MarketExplorer (<%= @market_kind %> Order)</h1>
  <input type="hidden" id="hidden_market_kind" value="<%=@market_kind%>"/>
  <div class='col-md-4'>
    <div class="box box-default">
      <div class="box-header">
        <h3 class="box-title">
          search :
          <h5><input id="jstree_categories_search" type="text"/>
            <input type="button" id="close" value="x"/>
          </h5>
        </h3>
      </div>
      &nbsp;&nbsp;&nbsp;
      (* 5 or more characters)
      <br/>
      <br/>

      <div class="scroll_menu">
        <div id="jstree_categories">
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-8">
    <div id="location">
      <%= render :partial => 'location' %>
    </div>
    <div id="current_location">
      <%= render :partial => 'current_location' %>
    </div>
    <div id="market">
      <%= render :partial => 'market' %>
    </div>
  </div>

</section>