<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>EOPES</title>
  <%= stylesheet_link_tag "default", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "default", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<% if user_signed_in? %>
    <body class="skin-black">
    <header class="header">
      <a href="#" class="logo">
        EOPOS
      </a>
      <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
      </nav>
    </header>

    <div class="wrapper row-offcanvas row-offcanvas-left">
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="left-side sidebar-offcanvas">
        <section class="sidebar">
          <div class="user-panel">
            <div class="pull-left image">
              <%= image_tag("https://image.eveonline.com/Character/#{session[:user_id]}_32.jpg", :class => "img-circle", :alt => "User Image") %>
            </div>
            <div class="pull-left info">
              <p> <%= session[:user_name] %></p>

              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
          <ul class="sidebar-menu">
            <li class="active">
              <%= link_to estimates_path do %>
                <%= image_tag("calculator.png", :size => "48x48") %>
                <span>Industry Profit Calc</span>
              <% end %>
            </li>
            <li class="treeview">
              <a href="#">
                <%= image_tag("calculator.png", :size => "48x48") %>
                <span>Charts</span>
                <i class="fa fa-angle-left pull-right "></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="pages/charts/morris.html"><i class="fa fa-angle-double-right"></i> Morris</a></li>
                <li><a href="pages/charts/flot.html"><i class="fa fa-angle-double-right"></i> Flot</a></li>
                <li><a href="pages/charts/inline.html"><i class="fa fa-angle-double-right"></i> Inline charts</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <%= image_tag("calculator.png", :size => "48x48") %>
                <span>Charts</span>
                <i class="fa fa-angle-left pull-right "></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="pages/charts/morris.html"><i class="fa fa-angle-double-right"></i> Morris</a></li>
                <li><a href="pages/charts/flot.html"><i class="fa fa-angle-double-right"></i> Flot</a></li>
                <li><a href="pages/charts/inline.html"><i class="fa fa-angle-double-right"></i> Inline charts</a></li>
              </ul>
            </li>
          </ul>
        </section>
      </aside>

      <!-- Right side column. Contains the navbar and content of the page -->
      <aside class="right-side">
        <%= yield %>
      </aside>
      <!-- /.right-side -->
    </div>
    <!-- ./wrapper -->
    </body>
<% else %>
    <%= yield %>
<% end %>
</html>
